services:
  decacem:
    hostname: localhost
    build:
      context: .
      target: production-stage
    restart: always
    ports:
      - 3333:80
    networks:
      - decacem-net
    environment:
      - NODE_ENV=production

networks:
  decacem-net:
